# RUBY ENV SETTINGS
COVERAGE=true
RUBY_COVERAGE=true

# NODE ENV SETTINGS
NODE_ENV=development
VITE_FORCE_POLLING=true
CHOKIDAR_USEPOLLING=true
# Decrease CPU usage by checking every 500ms
CHOKIDAR_INTERVAL=500